.conteudo1 {
    width: 200px;
    background: blue;
    border: 1px solid sandybrown;
    height: 200px;
    float: left;
    margin: 10px;
    padding: 15px;
}

.conteudo2 {
    width: 200px;
    background: blue;
   border: 1px solid sandybrown;
    height: 200px;
    float: left;
    margin: 10px;
    padding: 15px;
}
.vazio {

    background: rgb(255, 255, 255);
    padding: 5px;
    width: 80px;
    border-width: 155px;;
    height: 80px;
 margin-top: 2px;
 margin-left: 20px;

}
.conteudo5 {
    width: 200px;
    background: blue;
   border: 1px solid sandybrown;
    height: 200px;
    float: left;
    margin: 10px;
    padding: 15px;
}



#principal {
    background: rgb(205, 196, 196);
    padding: 5px;
    width: 280px;
    border-width: 155px;;
    height: 282px;
    float: left;
    margin-left: 20px;
}

#principal2 {
    background: rgb(205, 196, 196);
    padding: 5px;
    width: 280px;
    border-width: 155px;;
    height: 282px;
 margin-top: 20px;
 margin-left: 20px;


}



.conteudo4 {
    
    justify-content: center;
    background: rgb(205, 196, 196);
    padding: 5px;
    width: 280px;
    border-width: 155px;;
    height: 282px;
    float: left;
    margin-left: 20px;
}

.conteudo5 {
    float: left;
}


#p {
    text-align: end;
    
    padding: 10px;
}